<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/TimeSheet.aspx" loginUrl="~/index.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
  </system.web>
  <appSettings>
    <add key="TAppName" value="Employee Attendance Generator"/>
    <add key="TVersion" value="1.0"/>
    <add key="TUserName" value=""/>
    <add key="TPassWord" value="guest1234"/>
    <add key="TDomain" value="lrdc.lexmark.ds"/>
    <add key="TWorkHours" value="9.6"/>
    <add key="TMinLoginTime" value="6.0"/>
    <add key="TMaxLoginTime" value="10.0"/>
    <add key="TDateFormat" value="yyyy/MM/dd"/>
    <add key="TTimeFormat" value="HH:mm"/>
    <add key="TEventQuery" value="*[System/EventID=13 or System/EventID=12 and System/TimeCreated/@SystemTime &gt;= '{0}' and System/TimeCreated/@SystemTime &lt;= '{1}']"/>
    <add key="TValueFormat" value="{0:0.00}"/>
    <add key="TNullValue" value="-"/>
    <add key="TDisplayMonths" value="1"/>
    <add key="TSortOrder" value="asc"/>
  </appSettings>
</configuration>